@{
    ViewBag.Title = "Mail confirmation";
}

<div>
    <p>
        Thank you for verifying your email. @Html.ActionLink("Click here to ligin", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
